@media print{
   /* .hide-in-print{
       display:none;
   } */
   /* .application {
       display: grid;
       grid-template-columns: auto  auto;
       grid-template-rows: 60px auto;
       grid-template-areas:
       "header header header"
       "content content content";
   } */
  /* .content {
    column-width: 2.5in;
    max-width: 8in;
      margin: 0 auto;
    } */
    /* #card_slot {
      counter-reset: nb;
      border-left: 2px solid blue;
      background: #eee;
      display: grid;
    } */
    /* #card_slot + div{
      display: grid;
      grid-template-columns: 3fr 3fr;
      grid-auto-rows: 2em;
      grid-gap: .5em;
      align-items: center;
      padding: .5em;
      box-decoration-break: clone;
    } */
    /* input {
      align-self: stretch;
      border-radius: 2px;
      border: 1px solid #ccc;
      } */
}

@media print{

  .hide-in-print{
    display:none;
  }
  .application {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
    ". header ."
    "content content content";
  }
  .content {
    column-width: 2.5in;
    max-width: 8in;
    column-gap: 0px;
    margin: 0 auto;
    /* column-width: 200px; */
    /* max-width: 800px; */
  }
  .header {
     padding-left: 0;
     border-bottom: none;
     background-color: none;
     display: none;
     }
  .header-link, .header-logo, .header-title {
     display: inline;
  }
  #card_slot {
     counter-reset: nb;
     border-left: 2px solid #eee;
     /* background: #eee; */
     display: grid;
     box-decoration-break: clone;
     }
  #card_slot + div{
     display: grid;
     grid-template-columns: 3fr 3fr;
     grid-auto-rows: 2em;
     grid-gap: .5em;
     align-items: center;
     padding: .5em;
     box-decoration-break: clone;
     }
  #card_slot > div:first-of-type {
     /* border-left: 3px solid red; */
     }
  #card_slot > div:first-of-type .card-title {
     color: #333;
     font-size: 34px;
     line-height: 36px;
     }
  #card_slot > div:first-of-type section {
     display: none;
     }
  #card_slot > div:last-of-type {
     height: auto !important;
  }
  .input-field {
     margin-top:0;
     margin-bottom:0;
     }
  .input-field input {
     height: auto !important;
     line-height: 1.15em;
     }
  .input-field>label {
     display:none;
  }
  .card {
     /* display: inline-block; */
     }
  .card .card-content {
     padding: 0 18px;
     border:none;
     font-size: 12px;
     -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
     break-inside: avoid;
     -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
     break-inside: avoid-column;
     }
  .card .card-content .card-title {
     font-size: 18px;
     line-height: 22px;
     margin-left: -10px;
  }
}
@page { size: auto;  margin: 0mm; }

* {
  color: #30385d;
  box-sizing: border-box;
  font-family: 'Didact Gothic', Roboto, Open Sans, sans-serif;
}
.application {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
    "header header header"
    ". content .";
}
.header {
    grid-area: header;
    font-family: 'Merienda', cursive;
    font-size: 2.6em;
    /* padding: 0.1em; */
    padding: 2px 20px;
    background-color: #1a1f2b;
    /* border-bottom: 1px solid #EEEEEE; */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
.header-link {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo title";
    }
.header-logo {
    grid-area: logo;
    }
.header-logo img {
    /* filter: brightness(0.01); */
    }
.header-title {
    grid-area: title;
}
.content {
    grid-area: content;
    padding-top: 3em;
}
a {
  color: #555;
  text-decoration: none; /* no underline */
}
.crit_icon, .card .card-content .card-title.with_icon {
    vertical-align: middle;
    display: inline;
    margin-right: 13px;
}
.card .card-content .card-title {
    margin-bottom: 15px;
    }
.card .card-action {
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #496393;
    color: #84a4ce;
    }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #84a4ce;
    }
.card .card-action:last-child {
    border-color: #cfe4f3;
    margin-top: 15px;
    }
.card .card-action span {
    color: #aaa;
    display: block;
    float: right;
    font-size: 11px;
    margin-top: 25px;
    }
.card .input-field + .card-action {
    border: none;
    margin-top: 0;
    padding-top: 0;
}
.datepicker-date-display {
    background-color: #30385d;
    }
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #84a4ce;
    }
.datepicker-table td.is-today {
    color: #84a4ce;
    }
.datepicker-date-display .date-text {
    color: #fff;
    }
.datepicker-table td.is-selected {
    background-color: #84a4ce;
    color: #fff !important;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #84a4ce;
    -webkit-box-shadow: 0 1px 0 0 #84a4ce;
    box-shadow: 0 1px 0 0 #84a4ce;
}
.dropdown-content li>a,
.dropdown-content li>span{
    font-size:16px;
    color:#496393;
    display:block;
    line-height:22px;
    padding:14px 16px
}
input[type=text]:not(.browser-default)  {
  color: #496393;
}
